.content {
    padding: 20px;
}

.log-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    max-width: 70%;
    margin: 0 auto;
}

.log-entry {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 15px;
    
    padding: 10px;
    border-radius: 10px;
    background-color: var(--theme-panel);
}

.log-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    width: 150px;
    min-height: 150px;
}

/* Log details */

.log-details {
    display: flex;
    flex-direction: column;
}

.log-details .entry-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
}

.log-details .entry-header .title {
    font-size: 1.2rem;
    color: var(--theme-highlight);
}

.log-details .log-date {
    color: var(--theme-text2);
}

.log-details .log-date .date {
    font-size: 0.9rem;
    color: var(--theme-text);
}

.log-details .rating {
    color: var(--theme-text2);
}

.log-details .rating .star {
    color: var(--theme-text);
}

.log-details .rating .star.filled {
    color: var(--theme-accent);
}

.log-details .comments {
    color: var(--theme-text2);
}

.log-details .comments p {
    display: inline;
    color: var(--theme-text);
}
